---
layout: default
---

<div class="container">
  <!-- Category Filter Navigation -->
  <nav class="category-nav">
    <ul class="category-list">
      <li>
        <a href="{{ site.baseurl }}/posts" class="nav__sublink {% if page.url == '/posts/' %}active{% endif %}">
          All
        </a>
      </li>
      {% assign posts_nav = site.data.settings.navigation | where: "title", "Posts" | first %}
      {% for sublink in posts_nav.sublinks %}
        <li>
          <a href="{{ sublink.url | prepend: site.baseurl }}" class="nav__sublink {% if sublink.title == page.title %}active{% endif %}">
            {{ sublink.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  
  
  

  <!-- Post List -->
  <div class="post-list">
    {% assign posts_in_category = site.posts %}
    {% if page.category %}
      {% assign posts_in_category = site.posts | where: "categories", page.category %}
    {% endif %}

    {% for post in posts_in_category %}
      {% include article-content.html %}
    {% endfor %}
  </div>
</div>
